.page1 {
		BORDER-RIGHT: #e6e6e6 1px solid;
	    BORDER-TOP: #e6e6e6 1px solid;
		DISPLAY: inline;
		BORDER-LEFT: #e6e6e6 1px solid;
		CURSOR: pointer; MARGIN-RIGHT: 5px;
		BORDER-BOTTOM: #e6e6e6 1px solid;
		LIST-STYLE-TYPE: none;
		font-size:12px;
}
.page2 {
		CURSOR: pointer;
		BORDER-RIGHT: #b7d8ee 1px solid;
		BORDER-TOP: #b7d8ee 1px solid;
		BORDER-LEFT: #b7d8ee 1px solid;
		BORDER-BOTTOM: #b7d8ee 1px solid;
		BACKGROUND-COLOR: #d2eaf6;
		FONT-WEIGHT: bold; COLOR: #444444;
		font-size:12px;
}
*{ margin: 0; padding: 0; }
body {margin-top:4px;background-color:#f6f2ef;}
body,td,th {font-size:9pt;}
a:visited {color:#FF0000;text-decoration:none;}
a:active {color:#FF0000;text-decoration:none;}
a:link {text-decoration:none;}
a:hover {text-decoration:underline;}
.10 {background-image:url(images/lgj_55.jpg);background-repeat:no-repeat;background-position:center bottom;cursor:hand;font-weight:bold;color:#000000;}
.11 {background-image:url(images/lgj_51.jpg);background-repeat:repeat-x;background-position:center bottom;cursor:hand;font-weight:normal;color:#DE0002;}
a {font-size:12px;}
.container { width: 1000px; margin: 0 auto; }
table { text-align: start; }
